{% extends 'base.view.twig' %}

{% block content %}
  <p>Here are the blog posts:</p>
  <div class="container">
      {% for article in articles %}
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h4 class="display-5">{{ article.title }}</h4>
            <p><em>Опубликовано: {{ article.time_created|date("d M Y") }}</em></p>
            <p>{{ article.text }}
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}
